{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}

<div class="container min-vh-100 d-flex-column align-items-center justify-content-center mt-5">
  <h3 class="container d-flex justify-content-center mb-3">Cari Pelanggar</h3>

  <form method="POST" action="{{ url_for('cari_pelanggar') }}">
    <div class="input-group">
      <input type="text" class="form-control" id="nama_pelanggar" name="nama_pelanggar" placeholder="Masukkan nama pelanggar" required />
      <button type="submit" class="btn btn-primary">Cari</button>
    </div>
  </form>

  {% if request.method == 'POST' %}
  <div class="mt-4">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Nama Pelanggar</th>
          <th scope="col">NIK</th>
        </tr>
      </thead>

      <tbody>
        {% if pelanggar|length == 0 %}
        <tr>
          <td colspan="3" class="text-center">Pelanggar tidak ditemukan</td>
        </tr>

        {% else %} {% for x in pelanggar %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>
            <form action="{{ url_for('profil_pelanggar') }}" method="POST">
              <input type="hidden" name="identifier" value="{{ NIK_not_decoded[loop.index - 1] }}" />

              <button type="submit" name="submit" style="text-decoration: none">
                <label for="submit" style="text-decoration: none"> {{ nama[loop.index - 1] }} </label>
              </button>
            </form>
          </td>
          <td>{{ NIK[loop.index - 1] }}</td>
        </tr>
        {% endfor %} {% endif %}
      </tbody>
    </table>

    {% if pelanggar|length == 0 %}
    <div class="d-flex justify-content-center">
      <a href="{{ url_for('tambah_pelanggar') }}" class="btn btn-success"> Tambahkan Data Pelanggar </a>
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>

{% endblock %}
